<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="PFConfig" type="WMS.PlantFilter.Core.PFConfig, WMS.PlantFilter.Core" requirePermission="false" />
  </configSections>

  <PFConfig>
    <RedisCaching ConnectionString="127.0.0.1:6379" Enabled="false"></RedisCaching>
    <ThriftServer ThriftPort="8800" ThriftTimeOut="3000"></ThriftServer>
    <Log LogPath="Logs"></Log>
    <DB DataBase="Oracel" DBConnection="data source=192.168.1.12/orcl;user=WMS2;password=123;"></DB>
  </PFConfig>

  <appSettings>
    <!--<add key="DataBase" value="Oracel" />
    <add key="DBConnection" value="data source=192.168.1.12/orcl;user=WMS2;password=123;" />

    --><!--<add key="DBConnection" value="Provider=MSDAORA.1;Data Source=192.168.1.12/orcl;User ID=WMS2;Password=123;Persist Security Info=False;" />--><!--
    --><!--<add key="DBConnection" value="Provider=OraOLEDB.Oracle.1;Data Source=192.168.1.12/orcl;User ID=WMS2;Password=123;Persist Security Info=False;" />--><!--
    
    --><!--<add key="DBConnection" value="server=localhost;database=NopCommerceDB;uid=sa;pwd=sa;" />--><!--
    <add key="ThriftPort" value="8800" />
    <add key="CheckURL" value="http://192.168.1.93/PlantServer/api/Health" />
    <add key="LogPath" value="Logs" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
